*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#container h1{
    color: aliceblue;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    box-shadow: aliceblue;
    border: 1px solid aliceblue;
}
#searchBTN{
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: red;
    border: 1px solid aliceblue;

}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 2px solid red;
    margin-top: 50px;
}
.card img{
    width: 200px;
    height: 200px;
}
a{
    color: aliceblue;
}