body{
    display: flex;
    align-items: center;
    justify-content: center;
}
table,th,td{
    border: 2px solid blue ;
    border-collapse: collapse;
}
th,td{
    width: 50px;
    font-size: 25px;
    text-align: center;
}
th{
    color: green;
}
td:hover{
    background-color: orange;
}